<ion-content>
  <ion-card *ngIf="!showAnswer">
    <ion-card-header>
      <ion-card-title>{{ title }}</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngFor="let answer of answers">
        <ion-item (click)="getAnswer()">
          <ion-label>{{ answer.value }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="showAnswer">
    <ion-card-header>
      <ion-card-title>Cevap 1</ion-card-title>
      <ion-card-subtitle>Cevap İçeriği</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Doğru Cevap</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>