<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Taxi Course
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-flash-card [title]="title" [answers]="answers" [showAnswer]="showAnswer" >
  </app-flash-card>

</ion-content>
<ion-grid>
  <ion-row>
    <ion-col size="auto">
      <ion-button size="small" (click)="getQuestion()">Soru</ion-button>
    </ion-col>
    <ion-col size="auto">
      <ion-button size="small" (click)="getNextQuestion()">Sonraki</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>